
<mat-card style="background-color: #f5f5f5; margin: 20px;">
  <label for="addItemInput">My To Do List</label>

<div class="btn-wrapper">
  <button
    class="btn btn-menu"
    [class.active]="filter == 'all'"
    (click)="filter = 'all'">
    All
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'completed'"
    (click)="filter = 'uncomplete'">
    Uncompleted
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'completed'"
    (click)="filter = 'completed'">
    Done
  </button>
</div>
<form #myform="ngForm" (ngSubmit)="addTask(myform)">
<div class="taskInput">
    <input
  #newItem
  placeholder="add task"
  class="lg-text-input"
  required
  name="addItemInput" [(ngModel)]="addItemInput"
  id="addItemInput" />
</div>
<div>
  <!-- <div *ngIf="myControl.errors.required">Field is required</div> -->
</div>
  <div class="addBtn">
    <button class="btn-primary" type="submit">Add</button>
  </div>
  </form>


  <ul>
    <li *ngFor="let item of tasks">
      {{item.content}}
      <button class="btn" (click)="editable = !editable">Edit</button>
      <button class="btn btn-warn" (click)="remove(item.id)">Delete</button>

    </li>
    <div *ngIf="editable" ngFor="let ite">
      <form #taskForm="ngForm" (ngSubmit)="editTask()">
        <label>
          Edit content:
          <input type="text" class="sm-text-input" name="editItemInput" [(ngModel)]="editItemInput" #editedIte required>
        </label>
    
  
      <div class="btn-wrapper">
        <button class="btn" (click)="editable = !editable">Cancel</button>
        <button type="submit">Update task</button>
      </div>
      </form>
    </div>
  </ul>
  </mat-card>

