<h2>{{tasks.length}} <span *ngIf="tasks.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template></h2>
  
  <ul>
    <li *ngFor="let i of tasks">
      <app-task (remove)="remove(i)" [task]="i"></app-task>
    </li>
  </ul>

<label for="addItemInput">What would you like to do today?</label>

<input
  #newItem
  placeholder="add an item"
  (keyup.enter)="addTask(newItem.value); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput" />

<button class="btn-primary" (click)="addTask(newItem.value)">Add</button>
<div class="btn-wrapper">
  <button
    class="btn btn-menu"
    [class.active]="filter == 'all'"
    (click)="filter = 'all'">
    All
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'completed'"
    (click)="filter = 'uncomplete'">
    To Do
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'completed'"
    (click)="filter = 'completed'">
    Done
  </button>
</div>