
<mat-card style="background-color: #f5f5f5; margin: 20px;">
  <label for="addItemInput">My To Do List</label>

<div class="btn-wrapper">
  <button
    class="btn btn-menu"
    [class.active]="filter == 'all'"
    (click)="filter = 'all'">
    All
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'completed'"
    (click)="filter = 'uncomplete'">
    Uncompleted
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'completed'"
    (click)="filter = 'completed'">
    Done
  </button>
</div>
<form #myform="ngForm" (ngSubmit)="addTask(myform)">
<div class="taskInput">
    <input
  #newItem
  placeholder="add task"
  class="lg-text-input"
  required
  name="addItemInput" [(ngModel)]="addItemInput"
  id="addItemInput" />
</div>
<div>
  <!-- <div *ngIf="myControl.errors.required">Field is required</div> -->
</div>
  <div class="addBtn">
    <button class="btn-primary" type="submit">Add</button>
  </div>
  </form>


  <ul>
    <li *ngFor="let item of tasks; let i = index">
      <div *ngIf="editingIndex !== i">
        {{item.content}}
        <button (click)="editItem(i)">Edit</button>
        <button  (click)="remove(item.id)">Delete</button>

      </div>
      <div *ngIf="editingIndex === i">
        <input type="text" [(ngModel)]="editText" name="editText">
        <button (click)="saveEditing(item.id)">Save</button>
        <button (click)="cancelEditing()">Cancel</button>
      </div>
    </li>
  </ul>
  </mat-card>

